{varType Nette\Security\Resource $resourceEntity} {* This type will be different in your implementation *}

{*
 * Defined snippets:
 *
 *
 * Defined signals:
 * remove!                      - This signal does not need id or something. This control always know, which item you want to delete.
 *
 * Defined controls:
 * item-{$key}                  - $key is identifier of column, so inlineEditForm-age means that i need to change age prop from entity. If non existing key is provided, then 404 occurs
 *}

<div class="col-4">
    Name: {$resourceEntity->name}<br/>
    Age: {control inlineEditForm-age}<br /> {* age is name of column which you want to inline edit *}
    <a n:href="remove!" class="ajax btn btn-primary">Remove!!!</a>
</div>
