{varType bool $isFilterSet}
{varType Countable&Traversable&ArrayAccess $items}
{varType ?string $orderColumn}
{varType ?Snugcomponents\Datagrid\OrderDirectionCase $orderDirection}

{*
 * Defined snippets:
 * grid                                                         - should wrap whole file.
 *
 * Defined signals:
 * orderBy!, string orderColumn, string orderDirection          - Order direction can be only constant from OrderDirectionCase enum...
 *
 * Defined controls:
 * fitler
 * paginator
 * item-{$key}                                                  - $key is identifier of row (Always use this control. Does not use your own rendering tight here or inline editor and deleting will not work!!!)
 *}

{snippet grid}
    {control filter}

    <br />
    <hr />

    <a n:href="orderBy!, orderColumn: 'name', orderDirection: Snugcomponents\Datagrid\OrderDirectionCase::ASC->value" class="ajax">Order by name ASC</a><br />
    <a n:href="orderBy!, orderColumn: 'name', orderDirection: Snugcomponents\Datagrid\OrderDirectionCase::DESC->value" class="ajax">Order by name DESC</a><br /><br />
    <a n:href="orderBy!, orderColumn: 'age', orderDirection: Snugcomponents\Datagrid\OrderDirectionCase::ASC->value" class="ajax">Order by age ASC</a><br />
    <a n:href="orderBy!, orderColumn: 'age', orderDirection: Snugcomponents\Datagrid\OrderDirectionCase::DESC->value" class="ajax">Order by age DESC</a><br /><br />

    <div class="container-fluid">
        <div class="row">
            {foreach $items as $key => $item}
                {control item-{$key}}
            {/foreach}
        </div>
    </div>

    {control paginator}
{/snippet}
